<template name="mainSymptomChecker">
<div>
   {{> mainSubnavbar}}
</div>
<div class="col-xs-4 col-md-4">
<span class="color-blue-regular headline-symptom-checker">Cliquez sur une zone</span>
	<div id="human-body-frame" class="center-image-inside-block">
		<svg class="symbol-gender-reverse" width="47px" height="47px" viewBox="0 0 47 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
		    <title>Fond symbole homme + Symbole Homme</title>
		    <desc>Created with Sketch.</desc>
		    <defs></defs>
		    <g id="Symptom-checker" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="SC---0---Clic-sur-tête" sketch:type="MSArtboardGroup" transform="translate(-88.000000, -403.000000)">
		            <g id="Fond-symbole-homme-+-Symbole-Homme" sketch:type="MSLayerGroup" transform="translate(88.000000, 402.000000)">
		                <rect id="Fond-symbole-homme" stroke="#4990E2" fill="#4990E2" sketch:type="MSShapeGroup" x="0" y="1" width="47" height="47" rx="8"></rect>
		                <g id="Symbole-Homme" transform="translate(6.000000, 0.000000)" sketch:type="MSShapeGroup">
		                    <circle id="Oval-2" stroke="#FFFFFF" stroke-width="3" cx="11.5" cy="30.5" r="11.5"></circle>
		                    <path d="M18.5,21.5 L27.5,11.5" id="Line" stroke="#FFFFFF" stroke-width="3" stroke-linecap="square"></path>
		                    <polygon id="Triangle-1" fill="#FFFFFF" transform="translate(30.500000, 8.000000) rotate(38.000000) translate(-30.500000, -8.000000) " points="30.5 4 38 12 23 12 "></polygon>
		                </g>
		            </g>
		        </g>
		    </g>
		</svg>
		<svg class="symbol-gender-reverse" width="47px" height="47px" viewBox="0 0 47 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
		    <title>Cadre symbole femme + Symbole Femme Copy</title>
		    <desc>Created with Sketch.</desc>
		    <defs></defs>
		    <g id="Symptom-checker" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="Artboard-8" sketch:type="MSArtboardGroup" transform="translate(-179.000000, -79.000000)" stroke="#4990E2">
		            <g id="Cadre-symbole-femme-+-Symbole-Femme-Copy" sketch:type="MSLayerGroup" transform="translate(179.000000, 79.000000)">
		                <rect id="Cadre-symbole-femme" fill="#FFFFFF" sketch:type="MSShapeGroup" x="0" y="0" width="47" height="47" rx="8"></rect>
		                <g id="Symbole-Femme" transform="translate(12.000000, 4.000000)" stroke-width="3" sketch:type="MSShapeGroup">
		                    <circle id="Oval-3" cx="11.5" cy="11.5" r="11.5"></circle>
		                    <path d="M3.5,31.5 L18.5,31.5" id="Line" stroke-linecap="square"></path>
		                    <path d="M11.5,23.5 L11.5,38.5" id="Line" stroke-linecap="square"></path>
		                </g>
		            </g>
		        </g>
		    </g>
		</svg>
		<svg class="symbol-gender-reverse" width="47px" height="47px" viewBox="0 0 47 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
		    <title>Cadre reverse sign + Reverse sign</title>
		    <desc>Created with Sketch.</desc>
		    <defs></defs>
		    <g id="Symptom-checker" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="SC---0---Clic-sur-tête" sketch:type="MSArtboardGroup" transform="translate(-88.000000, -466.000000)">
		            <rect id="Cadre-corps" stroke="#979797" fill="#FFFFFF" sketch:type="MSShapeGroup" x="64" y="387" width="354" height="582" rx="10"></rect>
		            <g id="Imported-Layers" sketch:type="MSLayerGroup" transform="translate(113.000000, 437.500000)">
		                <path d="M0,0 L256,0 L256,530.018484 L0,530.018484 L0,0 Z" id="Fill-1" fill-opacity="0" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
		            </g>
		            <g id="Cadre-reverse-sign-+-Reverse-sign" sketch:type="MSLayerGroup" transform="translate(88.000000, 466.000000)">
		                <rect id="Cadre-reverse-sign" stroke="#4990E2" fill="#FFFFFF" sketch:type="MSShapeGroup" x="0" y="0" width="47" height="47" rx="8"></rect>
		                <g id="Reverse-sign" transform="translate(4.000000, 3.000000)" sketch:type="MSShapeGroup">
		                    <circle id="Reverse" stroke="#4990E2" stroke-width="3" cx="19" cy="21" r="18"></circle>
		                    <rect id="Rectangle-9" fill="#FFFFFF" transform="translate(21.000000, 20.500000) rotate(-45.000000) translate(-21.000000, -20.500000) " x="14" y="-1" width="14" height="43"></rect>
		                    <polygon id="Triangle-2" stroke="#4990E2" fill="#4990E2" transform="translate(11.000000, 7.000000) rotate(-135.000000) translate(-11.000000, -7.000000) " points="11 3 15 11 7 11 "></polygon>
		                    <path d="M26.1502561,37.6994877 C27.4335041,35.1329918 30,30 30,30 L34,38 L26,38 L26.1502561,37.6994877 Z" id="Triangle-3" stroke="#4990E2" fill="#4990E2" transform="translate(30.000000, 34.000000) rotate(45.000000) translate(-30.000000, -34.000000) "></path>
		                </g>
		            </g>
		        </g>
		    </g>
		</svg>
		<span class="color-blue-regular" id="symptomes-diffus">Symptômes<br/>diffus</span>
		<img id="human-body" src="https://www.docforyou.com/wp-content/plugins/docforyou/symptom_checker/images//face_homme/silhouette.jpg">
	</div>
</div>

<div class="col-xs-4 col-md-4">
<span class="color-blue-regular headline-symptom-checker">Sélectionnez vos symptômes</span>
	<div class="box-headline" id="area-of-symptom-selected">Tête</div>
	{{> symptomsDisplayedItem}}
</div>

<div class="col-xs-4 col-md-4">
<span class="color-blue-regular headline-symptom-checker">Récapitulatif de vos symptômes</span>

</div>

</template>
