.question-title-design {
	font-size: 20px;
}

.information-question-design {
	font-size: 15px;
	text-align: right;
}

.question-and-best-answer-headline {
	font-size: 15px;
	margin-top: 5px;
	margin-left: 15px;
}

#size-collapsible-header {
	height: 90px;
}

#question-block {
	margin-top: 5px;
}

#star {
	float: right;
}

#question-paragraph {
	padding: 5px;
	padding-left: 2rem;
	line-height: 150%;
}

#best-answer-headline {
	display: inline-block;
	margin-top: 5px;

}

#see-all-answers {
	display: inline;
	font-size: 12px;
}

#best-answer-paragraph {
	padding: 5px;
	padding-left: 2rem;
	line-height: 150%;
}
