.display-none {
	display: none;
}

.display-initial {
	display: initial;
}

#container-whole-answer {
	margin-top: 20px;
	margin-bottom: 20px;
}

#container-answer-text {
	margin-top: 10px;
	padding-bottom: 5px;
}

#author-design {
	font-size: 20px;
}

#container-author-and-diagnosis {
	display: inline-block;
	vertical-align: top;
}

#answers-options{
	display: inline-block;
	float: right;
	vertical-align: middle;
}

.upvote.btn.disabled-customized {
	background-color: #DFDFDF;
	box-shadow: none;
	color: #9F9F9F;
	cursor: pointer;
	opacity: .65;
	pointer-events: initial;
}

.btn.override {
	text-align: center;
	padding: 2px;
	height: auto;
	line-height: normal;
	background-color: #58B1DB;
}

#answer-text {
	margin-top: 5px;
	margin-bottom: 0px;
	border-left: 1px solid #979797;
	padding: 5px;
	padding-left: 10px;
	line-height: 150%;
}

#answer-footer {
	margin-top: 10px;
	padding:5px 0 10px 0;
}

#answer-submitted {
	display: inline-block;
	float: right;
	line-height: 100%;
}
