span.color-yellow {
	color:#ffff00;
}

.question-title-design {
  font-size: 20px;
  display: inline-block;
  margin-top: 10px;
  max-width: 90%;
}

.options-question-design {
	display: inline-block;
	font-size: 12px;
}

.information-question-design {
	display: inline-block;
	font-size: 15px;
	float: right;
}

#question-block {
	margin-top: 5px;
	line-height: 180%;
}

.star {
	float: right;
	font-size: 20px;
	margin-top: 10px;
}

span.glyphicon-star:before {
  content: "\e006";
}

#question-paragraph {
	padding:5px;
	padding-right: 1rem;
	padding-left: 2rem;
	line-height: 150%;
}

#best-answer-headline {
	display: inline-block;
	margin-top: 5px;

}

#see-all-answers {
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  display: inline-block;
  font-weight: normal;
  float: right;
  outline: 0;
  padding: 3px 7px 4px 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #f1f8fb;
  color: #2b6dad;
  border: 1px solid #bbcadc;
  margin-right: 12px;
  margin-top: 1px;
}

#best-answer-paragraph {
	padding: 1rem; 
	padding-top: 0;
	line-height: 150%;
}

#customized-collapsible-body-discussion-item {
	overflow: visible;
}