#your-symptoms {
  font-weight: bold;
}

.big-highlighted-stats {
	font-size: 40px;
}

#regular-sentence {
	margin-left: 10px;	
	font-size: 25px;
}

#graph-container {
	font-size: 0px;
}

.container-disease-statistics {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 230px;
	margin-left: 12px;
	margin-right: 12px;
}

.disease-statistics-legend {
	display: block;
	text-align: center;
	font-size: 20px;
	line-height: 140%;
}

.small-highlighted-stats {
	font-size: 25px;
}

#separator-disease-statistics {
	display: inline-block;
	width: 0px;
	height: 150px;
	border-left: 1px;
	border-left: solid;
	border-color: #979797; 
	margin-left: 20px;
	margin-right: 50px;
}

.triangle-border {
  position:relative;
  padding: 15px;
  padding-bottom: 0px;
  margin:1em 0 1em;
  border:5px solid #58B1DB;
  color:#333;
  background:#fff;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates the larger (i.e visible) triangle */
.triangle-border:before {
  content:"";
  position:absolute;
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#58B1DB transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller (i.e white)  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Places the larger (i.e visible) triangle on top */
.triangle-border.top:before {
  top:-20px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:320px; /* controls horizontal position */
  border-width:0 20px 20px;
}

/* Places the smaller (i.e white) triangle on top */
.triangle-border.top:after {
  top:-13px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:327px; /* value = (:before right) + (:before border-right) - (:after border-right) */
  border-width:0 13px 13px;
}



