#amaya {
	font-family: "Eight One";
	font-size: 40px;
	display: inline-block;
	height: 50px;
  	padding: 10px 10px;
  	line-height: 20px;
  	color: #58B1DB;
}

#amaya:hover,
#amaya:focus {
  text-decoration: none;
}

#logo-amaya {
	width: 50px;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#customized-navbar {
	line-height: 0px;
}

#customized-signin-button {
	background-color: #58B1DB;
}

ul.notification.dropdown-menu {
	line-height: 200%;
	color: #333;
	text-align: center;
	padding: 5px;
}

html nav ul li {
	float: none;
}

.badge.badge-inverse {
	min-width: 0rem;
	color: #FFFFFF;
	background-color: #58B1DB;
	position: static;
}