.headline-symptom-checker {
	font-size: 20px;
}

.symbol-containers {
	height:50px;
	width: 50px;
	margin: 10px;
	padding: 2px;
	border:1px;
	border-style: solid;
	border-radius: 5px;
	border-color: #4A90E2;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	}

div .symbols-gender {
	margin-left: 5px;
	margin-right: 5px;
}

.blue-background {
	background-color: #4A90E2;
}

.white-fill {
	fill: #FFFFFF;
}

#gender-female {
	margin-right: 10px;	
}

#human-body-img {
	width: 250px;
	height: auto;
}

#human-body-frame {
	padding-bottom: 10px;
	margin-top:10px; margin-left: 10px; margin-right: 10px; margin-bottom: 50px;
	border: 1px;
	border-style: solid;
	border-radius: 10px;
	border-color: #979797; 	
}

#symptomes-diffus {
	height: 47px;
	width: auto;
	font-size:15px;
	border:1px solid #4A90E2;
	border-radius: 5px;
	padding:2px;
	margin-left: 15px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

#area-of-symptoms-selected {
	margin-top: 10px;
	margin-right: 20px;
}

#symptoms-summary {
	display: inline-block;
	margin-bottom: 30px;
}

#know-diagnosis {
	margin-top: 20px;
	display: inline-block;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
}