.stetoscope-stetoscope-active {
	fill: #58B1DB;
}

div.stetoscope-stetoscope-active {
	color:	#58B1DB;
}

.discussions-results-active {
	fill: #58B1DB;
}

.results-results-active {
	stroke: #58B1DB;
}

div.results-results-active {
	color:	#58B1DB;
}

.feedback-feedback-active {
	fill: #58B1DB;
}

div.feedback-feedback-active {
	color:	#58B1DB;
}

#sub-navbar {
	border: 1px;
	border-style: solid;
	border-radius: 10px;
	border-color: #979797;
	padding: 10px;
	margin-left:10px;
	margin-right: 10px;
	margin-bottom: 20px;
}