body {
	font-family: "Calibri";
}

.color-blue-amaya {
	color: #58B1DB;
}

.color-grey-passive {
	color: #979797;
}

.color-blue-regular {
	color:#4A90E2;
}


.position-inline-middle {
	display: inline-block;
	vertical-align: middle;
}

.center-image-inside-block {
	text-align: center;
}

.box-headline {
	color: white;
	background-color: #4A90E2;
	text-align: center;
}


